<!DOCTYPE html>
<html lang="en,ru">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
</head>
<h1 style="text-align:center;">Dictionary</h1>
<a href="../wordle">Back to the Game</a>
<body>
<p th:text="${wordFromLine}"/>

<form th:method="post" th:action="@{/dictionary/add}">
    <input type="text" th:name="word" placeholder="слово" autofocus/>
    <input type="submit" value="Add"/>
</form>

<form th:method="delete" th:action="@{/dictionary/delete}">
    <input type="text" th:name="word" placeholder="слово" autofocus/>
    <input type="submit" value="Delete"/>
</form>

<table>
    <tr th:each="word : ${dictionary.getAllWords()}">
        <td th:text="${word}"></td>
    </tr>
</table>
</body>
</html>